:root {
  --bg-body: white;
  --bg-block: #f9f9f9;
  --border-color: #ddd;
  --box-shadow: 5px 5px 5px #eee;
}

body {
    min-height: calc(100vh - 3em);
    background-color: var(--bg-body);

    font-family: sans-serif;
    /* max-width: 85ch; */
    /* font-size: 1.25em; */
    /* line-height: 1.65; */
    padding: 3em 1em;
}

code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
    /* Fixes iOS font sizing anomaly */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

figure {
    text-align: center;
    font-style: oblique;
    font-size: smaller;
}

ul.menu a {
    color: blue;
}

footer a {
    color: blue;
}

#table-of-contents {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background-color: var(--bg-block);

    padding: 10px;
    box-shadow: var(--box-shadow);
    width: 250px;
}

@media screen and (max-width: 830px) {
    #table-of-contents {
        position: static;
        padding: 0px;
        transform: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
    --bg-body: #dedad6;
    --bg-block: #d6d1cc;
    --border-color: #999;
    --box-shadow: 5px 5px 5px #ccc;
  }
  html, img, video, iframe {
    filter: invert(1);
  }
}
