{{ partial "header.html" . }}
<div class="article-meta">
  <h1>{{ .Title }}</h1>
  {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
  <p>
    <span title="{{ .Date }}" class="date">{{i18n "date"}}: {{ .Date.Format "2006-01-02" }}</span>

    {{ if not (eq .Date .Lastmod) }}
    &nbsp; <span title="{{ .Lastmod }}">{{i18n "lastMod"}}: {{ .Lastmod.Format "2006-01-02" }}</span>
    {{ end }}

    {{ range $i := (slice "categories" "tags") }}
    {{ with ($.Param $i) }}
    &nbsp; <span>{{ i18n $i }}:
      {{ range $k := . }}
        <a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>
      {{ end }}
    </span>
    {{ end }}
    {{ end }}
  </p>
</div>

{{ with .TableOfContents }}
<div id="table-of-contents">
  <h3>{{i18n "toc"}}</h3>
  {{ . | safeHTML }}
</div>
{{ end }}

{{ partial "content_header.html" . }}

<main>
  {{ .Content }}
</main>

{{ partial "content_footer.html" . }}
{{ partial "footer.html" . }}
